################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DungeonLibrary/obj/Release/net6.0
C:\Users\Student\OneDrive\Visual Studio 2022\Projects\03_CSF2\Dungeon App\.vs
C:\Users\Student\OneDrive\Documents\Visual Studio 2022\Projects\03_CSF2\Dungeon App\.vs\Dungeon App\FileContentIndex
C:\Users\Student\OneDrive\Documents\Visual Studio 2022\Projects\03_CSF2\Dungeon App\.vs\Dungeon App
/.vs/Dungeon App/FileContentIndex
